@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

$text-primary: hsl(213, 96%, 18%);
$text-secondary: hsl(217, 100%, 97%);
$text-muted: hsl(231, 11%, 63%);

$border-light: hsl(229, 24%, 87%);
$border-selected: hsl(243, 100%, 62%);

$card-bg-primary: hsl(231, 100%, 99%);
$bg-primary: hsl(217, 100%, 97%);

$card-shadow-color: hsl(231 50% 15% / 0.1);

$base-unit: 8px;
